#logo {
  display: inline-block;
  margin: 10px; /* margin: 20px was off */
  float: left;
  height: 50px;
  width: auto; /* correct proportions to specified height */
  border-radius: 40%; /* makes it a circle */
}
